body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.sidebar {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  margin-right: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.content {
  flex: 3;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
}

.about-section {
  font-family: "Times New Roman", Times, serif;
}

.socials a {
  color: #0077cc;
  text-decoration: none;
}

.edu-entry {
  margin-bottom: 2rem;
}
.edu-title {
  font-size: 1.1rem;
}
.bullet {
  margin-right: 0.5rem;
  color: black;
}
.edu-content {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  line-height: 1.6;
}
